html {
  height: 100%;
}
body {
  height: 100%;
}
body * {
  font-family: "NEXON Lv1 Gothic OTF";
}
.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}

.main-title-box {
  width: 960px;
  height: 96px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 75px;
}

.main-title {
  font-weight: 700;
  margin-left: 70px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.main-text {
  font-weight: 400;
  margin-left: 70px;
}
.main-button {
  margin-top: 75px;
  width: 100%;
}
.main-button input[type="radio"] {
  display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3),
#tab-4:checked ~ .tab label:nth-child(4),
#tab-5:checked ~ .tab label:nth-child(5) {
  height: 16px;
  box-shadow: none;
  margin-top: 0;
}
.tab label {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  margin-top: 8px;
  -webkit-user-select: none;
}
.tab label:nth-child(1) {
  background-color: #ee7aae;
}
.tab label:nth-child(2) {
  background-color: #c6d74f;
}
.tab label:nth-child(3) {
  background-color: #ffdd04;
}
.tab label:nth-child(4) {
  background-color: #40c0f0;
}
.tab label:nth-child(5) {
  background-color: #f39769;
}

.main-line {
  border: 1px solid #d9d9d9;
  width: 100vw;
}

.main-subtitle {
  width: 100%;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
}
.group-tab-button {
  width: 100%;
}
.group-tab-button input[type="radio"] {
  display: none;
}
.group-tab-button {
  margin-bottom: 30px;
}

#group-tab-1:checked ~ .group-tab label:nth-child(1),
#group-tab-2:checked ~ .group-tab label:nth-child(2),
#group-tab-3:checked ~ .group-tab label:nth-child(3),
#group-tab-4:checked ~ .group-tab label:nth-child(4) {
  background-color: #6d6c6c;
}
.group-tab label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-right: 5px;
  background-color: #d9d9d9;
  font-weight: 700;
  cursor: pointer;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  user-select: none;
  margin-top: 8px;
  -webkit-user-select: none;
}
