html {
  height: 100%;
}
body {
  height: 100%;
}
body * {
  font-family: "NEXON Lv1 Gothic OTF";
}
.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 860px;
}
.main__title-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__title {
  font-weight: 700;
  width: 100%;
  text-align: left;
  color: black;
  margin-top: 40px;
}
.main-subtext {
  margin-top: 45px;
  width: 860px;
  height: 160px;
  background-color: #f1f1f1;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-subtext-title {
  font-weight: 700;
  color: black;
  font-size: 14px;
  margin-left: 30px;
}
.main-subtext-content {
  color: black;
  font-size: 14px;
  margin-left: 30px;
}

.main-button {
  margin-top: 50px;
  width: 100%;
}
.main-button input[type="radio"] {
  display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3),
#tab-4:checked ~ .tab label:nth-child(4),
#tab-5:checked ~ .tab label:nth-child(5) {
  height: 16px;
  box-shadow: none;
  margin-top: 0;
}
.tab label {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  margin-top: 8px;
  -webkit-user-select: none;
}
.tab label:nth-child(1) {
  background-color: #ee7aae;
}
.tab label:nth-child(2) {
  background-color: #c6d74f;
}
.tab label:nth-child(3) {
  background-color: #ffdd04;
}
.tab label:nth-child(4) {
  background-color: #40c0f0;
}
.tab label:nth-child(5) {
  background-color: #f39769;
}

.main-line {
  border: 1px solid #d9d9d9;
  width: 100vw;
}

.content {
  width: 100%;
  height: 860px;
  overflow: auto;
  border: 2px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 40px;
}
.content-member {
  padding: 30px;
}
.content-description {
  padding: 30px;
}
.content__text {
  font-size: 400;
  line-height: 21px;
}
.content-line {
  border: 1px solid #d9d9d9;
  margin-top: 15px;
  margin-bottom: 20px;
}
.content__title {
  font-weight: 700;
  width: 100%;
}

.next-prev {
  display: flex;
  width: 100%;
  justify-content: right;
}
.move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  height: 36px;
  width: 162px;
  margin-left: 12px;
  padding: 0;
}
.move-check {
  display: flex;
  width: 100%;
  justify-content: right;
}
.move-check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  height: 36px;
  width: 160px;
  margin-left: 6px;
  margin-top: 13px;
  margin-bottom: 100px;
}
