<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/index.css' %}" />
    <title>MapleStory Worlds</title>
  </head>
  <body>
    <div class="mobile-block">
      <img src="{% static 'users/img/block.png' %}" />
      <div class="mobile-block-text">더 큰 화면으로 접속해주세요..</div>
    </div>
    <div class="wrap">
      <header>
        <div class="header__left">
          <a class="header__left__title" href="/"
            >MapleStory Worlds Super Hackathon</a
          >
          {% if user.is_authenticated %}
          <a class="header__left__sub-title" href="register">미션 등록하기</a>
          {% else %}
          <a class="header__left__sub-title authenticated">미션 등록하기</a>
          {% endif %}
          <a class="header__left__sub-title" href="check">미션 확인하기</a>
        </div>
        {% if user.is_active %}
        <!-- 로그인 완료 했을때 코드 -->
        <div class="header__right is-login" id="sidebarCollapse">
          {{user.name}}님, 안녕하세요.
        </div>
        {% else %}
        <!-- 로그인 안했을 떄 -->
        <a href="./login" class="header__right">
          <button class="header__right__button">로그인</button>
        </a>
        {% endif %}
        <nav id="sidebar">
          <div class="sidebar-title">
            <div class="sidebar__title-name">{{user.name}}</div>
            <a class="sidebar__title-logout" href="/logout">로그아웃</a>
          </div>
          <div class="sidebar__main">
            <div class="sidebar__main-title">
              슈퍼해커톤 {{user.get_level_display}}
            </div>
            <div class="sidebar__main-line"></div>
            {% if link1 == "None" %}<a
              class="sidebar__main-button color1 missiontab"
              >첫 번째 미션</a
            >{% else %}<a class="sidebar__main-button color1" href="{{link1}}"
              >첫 번째 미션</a
            >{% endif %} {% if link2 == "None" %}<a
              class="sidebar__main-button color2 missiontab"
              >두 번째 미션</a
            >{% else %}<a class="sidebar__main-button color2" href="{{link2}}"
              >두 번째 미션</a
            >{% endif %} {% if link3 == "None" %}<a
              class="sidebar__main-button color3 missiontab"
              >세 번째 미션</a
            >{% else %}<a class="sidebar__main-button color3" href="{{link3}}"
              >세 번째 미션</a
            >{% endif %} {% if link4 == "None" %}<a
              class="sidebar__main-button color4 missiontab"
              >네 번째 미션</a
            >{% else %}<a class="sidebar__main-button color4" href="{{link4}}"
              >네 번째 미션</a
            >{% endif %} {% if link5 == "None" %}<a
              class="sidebar__main-button color5 missiontab"
              >다섯 번째 미션</a
            >{% else %}<a class="sidebar__main-button color5" href="{{link5}}"
              >다섯 번째 미션</a
            >{% endif %}
            <!-- <a class="sidebar__main-button color2 missiontab" href="{{link2}}">두 번째 미션</a>
            <a class="sidebar__main-button color3 missiontab" href="{{link3}}">세 번째 미션</a>
            <a class="sidebar__main-button color4 missiontab" href="{{link4}}">네 번째 미션</a>
            <a class="sidebar__main-button color5 missiontab" href="{{link5}}">다섯 번째 미션</a> -->
          </div>
        </nav>
        <div class="overlay"></div>
        <div class="confirm-overlay"></div>
      </header>
      <section class="main">
        <div class="main-div">
          <img
            class="main-img"
            src="{% static 'users/img/maplestoryworlds_logo_1.png' %}"
            alt="maplestoryworlds"
          />
          <div class="main-title">Super Hackathon 미션 관리 페이지</div>
          <div class="main-button">
            <input type="radio" id="tab-1" name="show" checked />
            <input type="radio" id="tab-2" name="show" />
            <input type="radio" id="tab-3" name="show" />
            <input type="radio" id="tab-4" name="show" />
            <input type="radio" id="tab-5" name="show" />

            <div class="tab">
              <label for="tab-1"></label>
              <label for="tab-2"></label>
              <label for="tab-3"></label>
              <label for="tab-4"></label>
              <label for="tab-5"></label>
            </div>
            <div class="section-line"></div>
            <div class="content">
              {% comment %} 첫번째 버튼 {% endcomment %}
              <div class="content-dis">
                <div class="recent-content">최근 게시글</div>
                <div class="content-main">
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div>
              {% comment %} 두번째 버튼 {% endcomment %}
              <div class="content-dis">
                <div class="recent-content">최근 게시글</div>
                <div class="content-main">
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div>
              {% comment %} 세번째 버튼 {% endcomment %}
              <div class="content-dis">
                <div class="recent-content">최근 게시글</div>
                <div class="content-main">
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div>
              {% comment %} 네번째 버튼 {% endcomment %}
              <div class="content-dis">
                <div class="recent-content">최근 게시글</div>
                <div class="content-main">
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div>
              {% comment %} 다섯 번째 버튼 {% endcomment %}
              <div class="content-dis">
                <div class="recent-content">최근 게시글</div>
                <div class="content-main">
                  <a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  ><a class="main-gallery__box" href="${page_src[i]}"
                    ><div class="main-gallery-img">
                      <img
                        class="main-gallery-img"
                        src="${thumbnail_imagesrc1[i]}"
                        alt="img"
                      />
                    </div>
                    <div class="main-gallery-text">
                      <div class="main-gallery-team">
                        <span>팀명 ${team_name[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_name}}</span
                        >
                      </div>
                      <div class="main-gallery-name">
                        <span>팀원 ${team_members[i]}</span
                        ><span class="main-gallery-detail"
                          >{{list.team_members}}</span
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="moveconfirm">
          <div class="confirm-title">미션 이동</div>
          <div class="confirm-line"></div>
          <div class="confirm-message">등록된 미션이 없습니다.</div>
          <div class="confirm-answer-box">
            <div class="confirm-answer-omT ok">확인</div>
          </div>
        </div>

        <div class="loginconfirm">
          <div class="confirm-title">로그인</div>
          <div class="confirm-line"></div>
          <div class="confirm-message">로그인 후 이용해주세요.</div>
          <div class="confirm-answer-box">
            <div class="confirm-answer-omT ok2">확인</div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-text up-text">
          ㈜넥슨코리아 대표이사 이정헌 경기도 성남시 분당구 판교로 256번길 7
          전화 : 1588-7701 팩스 : 0502-258-8322<br />
          E-mail : contact-us@nexon.co.kr 사업자등록번호 : 220-87-17483호
          통신판매업 신고번호 : 제2013-경기성남-1659호 사업자정보확인 <br />@
          NEXON Korea Corporation All Rights Reserved.
        </div>
        <div class="footer-text">
          이용약관 | 개인정보처리방침 | 환불규정<br />
          상호명: 멋쟁이사자처럼 | 대표: 이두희works@likelion.net | 사업자 번호
          : 264-88-01106<br />
          통신판매업 신고번호 : 2019 - 서울강남 - 00774 | 주소 : 서울 종로구
          종로3길17, 광화문D타워 D1동 16층, 17층 <br />Copyright © 2022
          멋쟁이사자처럼 All rights reserved.
        </div>
        <div class="footer__img-box">
          <a href="https://maplestoryworlds.nexon.com/play/" target="_blank"
            ><img src="{% static 'users/img/nexon.png' %}" alt="NEXON"
          /></a>
          <a href="https://www.likelion.net/" target="_blank"
            ><img
              src="{% static 'users/img/likelion.png' %}"
              alt="likelion"
              class="likelion-img"
          /></a>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").addClass("active");
      $(".overlay").fadeIn();
    });

    $(".overlay").on("click", function () {
      $("#sidebar").removeClass("active");
      $(".overlay").fadeOut();
    });
    $(".missiontab").on("click", function () {
      $(".moveconfirm").addClass("active");
      $(".confirm-overlay").fadeIn();
    });
    $(".ok").on("click", function () {
      $(".moveconfirm").removeClass("active");
      $(".confirm-overlay").fadeOut();
    });
    $(".authenticated").on("click", function () {
      $(".loginconfirm").addClass("active");
      $(".confirm-overlay").fadeIn();
    });
    $(".ok2").on("click", function () {
      $(".loginconfirm").removeClass("active");
      $(".confirm-overlay").fadeOut();
    });
  </script>
</html>
