<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/footer.css' %}" />
    <title>MapleStoryWorld</title>
  </head>
  <body>
    <div class="wrap">
      <section>
        <a class="section__title" href="/">MapleStory Worlds Super Hackathon</a>
        <div class="section-line"></div>
        <form action="" method="POST" class="section__form">
          {% csrf_token %}
          <div class="section__form-box">
            <label for="{{ form.message.id_user_id }}"> 계정</label>
            <input
              type="text"
              class="form-control section__form-input"
              id="id_user_id"
              name="user_id"
              maxlength="17"
            />
          </div>
          <div class="section__form-box">
            <label for="">비밀번호</label>
            <input
              type="password"
              class="form-control section__form-input"
              id="id_password"
              name="password"
              maxlength="17"
            />
          </div>
          <button class="submit-button" type="submit">로그인</button>
        </form>
        {% if messages %} {% for message in messages %}
        <div class="moveconfirm active">
          <div class="confirm-title">로그인 오류</div>
          <div class="confirm-line"></div>
          <div class="confirm-message">
            아이디 혹은 비밀번호를 확인해주세요.
          </div>
          <div class="confirm-answer-box">
            <div class="confirm-answer-omT ok">확인</div>
          </div>
        </div>
        <div class="confirm-overlay"></div>
        {% endfor %} {% endif %}
      </section>
      <footer>
        <div class="footer-text up-text">
          ㈜넥슨코리아 대표이사 이정헌 경기도 성남시 분당구 판교로 256번길 7
          전화 : 1588-7701 팩스 : 0502-258-8322<br />
          E-mail : contact-us@nexon.co.kr 사업자등록번호 : 220-87-17483호
          통신판매업 신고번호 : 제2013-경기성남-1659호 사업자정보확인 <br />@
          NEXON Korea Corporation All Rights Reserved.
        </div>
        <div class="footer-text">
          이용약관 | 개인정보처리방침 | 환불규정<br />
          상호명: 멋쟁이사자처럼 | 대표: 이두희works@likelion.net | 사업자 번호
          : 264-88-01106<br />
          통신판매업 신고번호 : 2019 - 서울강남 - 00774 | 주소 : 서울 종로구
          종로3길17, 광화문D타워 D1동 16층, 17층 <br />Copyright © 2022
          멋쟁이사자처럼 All rights reserved.
        </div>
        <div class="footer__img-box">
          <a href="https://maplestoryworlds.nexon.com/play/" target="_blank"
            ><img src="{% static 'users/img/nexon.png' %}" alt="NEXON"
          /></a>
          <a href="https://www.likelion.net/" target="_blank"
            ><img
              src="{% static 'users/img/likelion.png' %}"
              alt="likelion"
              class="likelion-img"
          /></a>
        </div>
      </footer>
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    {% comment %} $(".submit-button").on("click", function (e) {
      $(".confirm-overlay").fadeIn();
      console.log(12312312);
    }); {% endcomment %}
    $(".ok").on("click", function () {
      $(".moveconfirm").removeClass("active");
      $(".moveconfirm").addClass("none");
      $(".confirm-overlay").fadeOut();
    });
  </script>
</html>
